@charset "utf-8";
body {
	text-align: center;
}
.shadow {
    -moz-box-shadow: 3px 3px 4px #f1f1f1;
    -webkit-box-shadow: 3px 3px 4px #f1f1f1;
    box-shadow: 3px 3px 4px #f1f1f1;
}
.border {
	border-style:solid;
	border-top-width:2px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 2px;
	border-color: #e3e3e3;
}
#gw_en_wrapper {
	width: 900px;
	margin: auto;
	text-align: left;
}
#gw_en_logo {
	height: 81px;
	width: 301px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	float: left;
}
#gw_en_title {
	float: left;
	margin-left:35px;
	margin-top: 24px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 20pt;
}
.gw_en_clear {
	clear: both;
}
#gw_en_container {
	margin-top: 20px;
	min-height: 400px;
	margin-bottom: 20px;
}
#gw_en_footer {
	text-align: center;
	height: 140px;
	background-image: url(../images/footer-bg.png);
}
#gw_en_inner_footer {
	margin: auto;
	width: 900px;
	text-align:left;
}
#gw_en_footer_text {
	margin-top: 60px;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: left;
}
#gw_en_footer_logo {
	width: 81px;
	height: 81px;
	margin-top: 30px;
	background-image: url(../images/logo-wb.png);
	background-repeat: no-repeat;
	float: right;
}

/* navi bar start*/
#navi_list{
	font:14px verdana, arial, sans-serif;
	padding:0 0 0 15px;
	height:30px;
}
#navi_list li {
	display:block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	list-style:none;
	padding:0;
	margin:0 30px 0px 0;
	height:30px;
	float:left;
}
#navi_list li a{
	display:block;
	color:#000;
	text-decoration:none;
}
#navi_list li a:hover{
	color:#8abe64;
}
#navi_list li a.cur_nav{
	color:#8abe64;
}
#navi_list li:not(.navi_img){
	margin-top:3px;
}
#home_img {
	width:20px;
	height:20px;
}
/* navi bar end*/

/* content start*/
#content {
	margin: 10px 30px 30px 30px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
}
#content h1 {
	font-weight: bold;
	font-size: 24px; 
	color: #39863b;
	margin-bottom: 5px;
}
#content h2 {
	font-weight: bold;
	font-size:20px;
}
#content h3 {
	font-size:16px;
}
#content hr {
	height: 1px;
	border: 0;
	border-bottom: 2px solid #8abe64;
}
.text-pic-box .text-pic-box-text {
	width: 500px;
	float: left;
}
.text-pic-box .text-pic-box-pic {
	float: right;
}
/* content end*/

/* course list start*/
#courses {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:200px;
	text-align:left;
	float:left;
	color:#666;
}
#content_body{
	float:left;
}
#list_title{
	font-size:18px;
	padding:15px 0 15px 10px;
	border-bottom:1px solid #e3e3e3;
	color:#000;
}
#courses div.cat_root:not(.parent_item){
	padding-top:15px;
	padding-left:10px;
	font-size:13px;
	font-weight:bold;
}
.parent_item{
	margin-top:15px;
	padding:8px 0 8px 10px;
	font-size:16px;
}
#courses .list_lvl1{
	font-size:11px;
	list-style:none;
	padding:3px 0 3px 20px;
	margin:0px;
}
#courses .list_lvl2{
	font-size:11px;
	list-style:none;
	padding:3px 0 3px 30px;
	margin:0px;
}
#courses div a{
	text-decoration: none;
}
#courses .list_lvl2 a{
	width:100%;
	height:100%;
	display: block;
	color:#666;
	text-decoration: none;
}
#courses ul{
	padding-left:0px;
	margin:0px;
}
#courses ul li{
	font-size:11px;
	list-style:none;
	padding:3px 0 3px 20px;
	margin:0px;
}
.highlight{
	cursor:pointer;
}
#credit{
	height:20px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:10px;
	font-size:18px;
	font-weight:bold;
	color:#666;
}
#credit_a{
	color:#666;
}
/* course list end*/

/* mentor table start*/
.mentor-table {
	table-layout: fixed;
}
.mentor-table td{
	height: 30px;
	border-bottom: 1px solid #efefef;
}
.mentor-table td a {
	text-decoration: none;
}
/* mentor table end*/